[submodule "lib/samp-plugin-sdk"]
	path = lib/samp-plugin-sdk
	url = https://github.com/maddinat0r/samp-plugin-sdk
[submodule "lib/cmake-modules"]
	path = lib/cmake-modules
	url = https://github.com/Zeex/cmake-modules
[submodule "src/plugin-natives"]
	path = src/plugin-natives
	url = https://github.com/Y-Less/plugin-natives
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl.git
[submodule "lib/openssl"]
	path = lib/openssl
	url = https://github.com/openssl/openssl.git
