[submodule "lib/samp-plugin-sdk"]
	path = lib/samp-plugin-sdk
	url = https://github.com/maddinat0r/samp-plugin-sdk
[submodule "lib/cmake-modules"]
	path = lib/cmake-modules
	url = https://github.com/Zeex/cmake-modules
[submodule "src/plugin-natives"]
	path = src/plugin-natives
	url = https://github.com/Y-Less/plugin-natives
